main {
  width: 90%;
  margin: auto;
}

#items{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: fit-content;
  padding-right: 30px;
}

#listItem {
  list-style-type: none;
}