


#container {
    display:flex;
    flex-wrap: wrap;
}
.listItem {
    display:flex;
    flex-wrap: wrap;
    font-size: 25px;
    color:Black;
    margin: 30px;
    width: 210px;
    height: 130px;
    border-style: solid;
    justify-content: center;
    background-color: rgb(205, 228, 247);
    border-radius: 15%;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-bottom: 13px solid #eee;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  }

  
.items {
    display:flex;
    flex-direction: column;
    color:Black;
    align-items: top;
    text-align: center;
    
  }

#counter{
  margin-top: auto;
  color:black;

}
